Repository mauwii/azure-pipelines-with-github-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devopsbuildagent.yml, azure-pipelines/iac-bicep.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/iac-bicep.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

azure-pipelines/devopsbuildagent.yml:
  stages:
  - stage: build
    jobs:
    - template: stages/jobs/build_devopsbuildagent_job.yml
      parameters:
        matrix: ${{ parameters.matrix }}
        maxParallelJobs: ${{ parameters.maxParallelJobs }}
  - stage: manifest
    dependsOn: build
    jobs:
    - job: null
      condition: succeeded()
  ...

azure-pipelines/iac-bicep.yml:
  extends:
    template: stages/bicep_stage.yml
    parameters:
      bicepDir: ${{ parameters.bicepDir }}
      bicepParameter: ${{ parameters.bicepParameter }}
      resourceGroupName: ${{ parameters.resourceGroupName }}
      azureSubscription: ${{ parameters.azureSubscription }}
  ...

azure-pipelines/mkdocs-material.yml:
  jobs:
  - job: null
    displayName: MkDocs-Material
    pool:
      name: ${{ parameters.agentpool }}
    steps:
    - bash: export
      displayName: debug export
    - template: stages/jobs/steps/checkout_submodules.yml
      parameters:
        submodule: src/mkdocs-material
        checkoutSelf: true
  ...

azure-pipelines/triggers/iac-bicep.yml:
  pool:
    vmImage: windows-latest
  extends:
    template: ../bicep_stage.yml
    parameters:
      bicepDir: ${{ variables.bicepDir }}
      bicepParameter: ${{ variables.environment }}
      resourceGroupName: ${{ variables.resourceGroupName }}
      azureSubscription: ${{ variables.azureSubscription }}
  ...

azure-pipelines/triggers/validate_docs.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}

azure-pipelines/validate_docs.yml:
  stages:
  - template: stages/mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}
      agentpool: ${{ parameters.agentpool }}

remove @ in front of main.parameters
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml

use if-then-else to find parameters.json
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml

add location parameter for mg deployment
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml

set defaultlocation
  azure-pipelines/iac-bicep.yml
Due: azure-pipelines/iac-bicep.yml

add forgotten parameter and restore location
  azure-pipelines/iac-bicep.yml
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml

fix bicep_steps.yml location parameter
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml

add managementGroupIDs parameter remove mg.dev and mg.prod, add mg change mg file content to Tenant Root Group ID add main.parameters.json containing managementGroupIDs array
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
  IaC/bicep/deploy/rbac-cleanupautomation/main.parameters.json
  IaC/bicep/deploy/rbac-cleanupautomation/mg
  IaC/bicep/deploy/rbac-cleanupautomation/mg.dev
  IaC/bicep/deploy/rbac-cleanupautomation/mg.prod
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

add Role Assignment to rbac-cleanupautomation
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
  IaC/bicep/deploy/rbac-cleanupautomation/main.parameters.json
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

Feature/add rbac role for cleanupautomation (#79)
  IaC/bicep/acr/main.bicep
  IaC/bicep/acr/main.parameters.dev.json
  IaC/bicep/acr/main.parameters.prod.json
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
  IaC/bicep/deploy/rbac-cleanupautomation/main.parameters.json
  IaC/bicep/deploy/rbac-cleanupautomation/mg
  azure-pipelines/iac-bicep.yml
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

update mg
  IaC/bicep/deploy/rbac-cleanupautomation/mg
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

update pipeline, bicep template and parameters
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
  IaC/bicep/deploy/rbac-cleanupautomation/main.parameters.json
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

Issue/remove assignement from bicep (#80)
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
  IaC/bicep/deploy/rbac-cleanupautomation/main.parameters.json
  IaC/bicep/deploy/rbac-cleanupautomation/mg
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

add managementGroup.name to roleName
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

add managementGroup.name to roleName (#81)
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

adding a submodulel with some old django poc to take a shortcut for the automated testingn with xray poc
  .gitmodules
Due: none

add django.yml pipeline
  azure-pipelines/django.yml
Due: none

checkout submodule
  azure-pipelines/django.yml
Due: none

fix template path
  azure-pipelines/django.yml
Due: none

add trigger
  azure-pipelines/django.yml
Due: none

Feature/add django submodule (#82)
  .gitmodules
  azure-pipelines/django.yml
Due: none

update issue and pr templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update issue and pr templates (#83)
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

remove non existing label, fix placeholder
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

remove non existing label, fix placeholder (#84)
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Due: none

add nightly build
  azure-pipelines/devopsbuildagent.yml
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
  azure-pipelines/stages/jobs/pushManifest_job.yml
Due: azure-pipelines/devopsbuildagent.yml

fix cron job syntax
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

add nightly build (#85)
  azure-pipelines/devopsbuildagent.yml
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
  azure-pipelines/stages/jobs/pushManifest_job.yml
Due: azure-pipelines/devopsbuildagent.yml

check if folder contains rg.json if found, use containing ResourceGroupName instead of env
  scripts/New-BicepMatrix.ps1
Due: azure-pipelines/iac-bicep.yml

add example with rg.json
  IaC/bicep/deploy/pythonWebApp/main.bicep
  IaC/bicep/deploy/pythonWebApp/main.parameters.json
  IaC/bicep/deploy/pythonWebApp/rg.json
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

Update/New-BiceepMatrix/add-rg-json (#86)
  IaC/bicep/deploy/pythonWebApp/main.bicep
  IaC/bicep/deploy/pythonWebApp/main.parameters.json
  IaC/bicep/deploy/pythonWebApp/rg.json
  scripts/New-BicepMatrix.ps1
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

parallelize resource-loop in cleanupautomation
  scripts/cleanupautomation.ps1
Due: none

reset NewerResourceDays to 7
  scripts/cleanupautomation.ps1
Due: none

Update/parallel cleanupautomation (#87)
  scripts/cleanupautomation.ps1
Due: none

update django.yml with step to publish to XRAY
  azure-pipelines/django.yml
Due: none

fix step "Run Tests"
  azure-pipelines/django.yml
Due: none

update publish to jira step
  azure-pipelines/django.yml
Due: none

add action to rbac: Microsoft.Management/managementGroups/read
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

add action to rbac: (#88)
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

add */delete to actions
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

remove unecesarry action
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

Path conditions:
  azure-pipelines/devopsbuildagent.yml: any of: azure-pipelines/devopsbuildagent.yml, azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml, src/DevOpsBuildAgent
  azure-pipelines/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/iac-bicep.yml, azure-pipelines/stages/bicep_stage.yml, azure-pipelines/stages/jobs/steps/bicep_steps.yml, scripts/New-BicepMatrix.ps1
  azure-pipelines/mkdocs-material.yml: any of: docs, mkdocs.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml, scripts/deploy-mike.sh, src/requirements-mkdocs-material.txt, src/mkdocs-material
  azure-pipelines/triggers/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/triggers/iac-bicep.yml
  azure-pipelines/triggers/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, azure-pipelines/mkdocs_stage.yml
  azure-pipelines/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/validate_docs.yml, azure-pipelines/stages/mkdocs_stage.yml, azure-pipelines/stages/jobs/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml
