Repository mauwii/azure-pipelines-with-github-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devopsbuildagent.yml, azure-pipelines/iac-bicep.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/iac-bicep.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

Path conditions:
  azure-pipelines/devopsbuildagent.yml: any of: azure-pipelines/devopsbuildagent.yml, azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml, src/DevOpsBuildAgent
  azure-pipelines/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/iac-bicep.yml
  azure-pipelines/mkdocs-material.yml: any of: docs, mkdocs.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml, scripts/deploy-mike.sh, src/requirements-mkdocs-material.txt, src/mkdocs-material
  azure-pipelines/triggers/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/triggers/iac-bicep.yml
  azure-pipelines/triggers/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, azure-pipelines/mkdocs_stage.yml
  azure-pipelines/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/validate_docs.yml, azure-pipelines/stages/mkdocs_stage.yml, azure-pipelines/stages/jobs/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml

fix deletion
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

Removed update-script-deploy-mike-add-comments with mike 1.1.2
  update-script-deploy-mike-add-comments/404.html
  update-script-deploy-mike-add-comments/index.html
  update-script-deploy-mike-add-comments/reference/diagrams/index.html
  update-script-deploy-mike-add-comments/reference/images/index.html
  update-script-deploy-mike-add-comments/reference/index.html
  update-script-deploy-mike-add-comments/todo/index.html
  update-script-deploy-mike-add-comments/workflow/1-repository/index.html
  update-script-deploy-mike-add-comments/workflow/2-azure-pipelines/index.html
  versions.json
Due: none

delete it like beckham
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

could it be the brackets?
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

add quotes
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

use python 3.9
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml

FINALLY - fix deletion
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

Update/script/deploy mike add comments (#76)
  azure-pipelines/mkdocs-material.yml
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

add --push to mike delete
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

add --push to mike delete (#77)
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

add Date and Time in Front of output
  scripts/Get-ReleaseSuccess.ps1
Due: none

add Date and Time in Front of output (#78)
  scripts/Get-ReleaseSuccess.ps1
Due: none

check if one or "per env" parameterfile
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: none

update trigger paths
  azure-pipelines/iac-bicep.yml
Due: azure-pipelines/iac-bicep.yml

add parameters to iac-bicep.yml this could soon make `/azure-pipelines.yml` obsolete
  azure-pipelines/iac-bicep.yml
Due: azure-pipelines/iac-bicep.yml

move acr out of deployment folder
  IaC/bicep/acr/main.bicep
  IaC/bicep/acr/main.parameters.dev.json
  IaC/bicep/acr/main.parameters.prod.json
Due: none

add rbac-cleanupautomation bicep to deploy folder
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
  IaC/bicep/deploy/rbac-cleanupautomation/main.parameters.json
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

update bicep_steps.yml
  azure-pipelines/stages/jobs/steps/bicep_steps.yml
Due: none

add mg.dev and mg.prod to rbac-cleanupautomation
  IaC/bicep/deploy/rbac-cleanupautomation/mg.dev
  IaC/bicep/deploy/rbac-cleanupautomation/mg.prod
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml
