Repository mauwii/azure-pipelines-with-github-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devopsbuildagent.yml, azure-pipelines/iac-bicep.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/iac-bicep.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

Path conditions:
  azure-pipelines/devopsbuildagent.yml: any of: azure-pipelines/devopsbuildagent.yml, azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml, src/DevOpsBuildAgent
  azure-pipelines/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/iac-bicep.yml
  azure-pipelines/mkdocs-material.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml
  azure-pipelines/triggers/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/triggers/iac-bicep.yml
  azure-pipelines/triggers/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, azure-pipelines/mkdocs_stage.yml
  azure-pipelines/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/validate_docs.yml, azure-pipelines/stages/mkdocs_stage.yml, azure-pipelines/stages/jobs/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml

Fix mike (#62)
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml

Removed main with mike 1.1.2
  main/404.html
  main/index.html
  main/reference/diagrams/index.html
  main/reference/images/index.html
  main/reference/index.html
  main/todo/index.html
  main/workflow/1-repository/index.html
  main/workflow/2-azure-pipelines/index.html
  versions.json
Due: none

Set default version to main with mike 1.1.2
  index.html
Due: none

include stable branch in mkdocs-material.yml
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml

fix deleteVersion variable
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml

Removed stable with mike 1.1.2
  stable/404.html
  stable/index.html
  stable/reference/diagrams/index.html
  stable/reference/images/index.html
  stable/reference/index.html
  stable/todo/index.html
  stable/workflow/1-repository/index.html
  stable/workflow/2-azure-pipelines/index.html
  versions.json
Due: none

Set default version to stable with mike 1.1.2
  index.html
Due: none

update todo
  docs/todo.md
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

update requirements.txt include version
  requirements.txt
Due: none

Update/docs (#67)
  docs/todo.md
  requirements.txt
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

just some cosmetic fixes
  azure-pipelines/cleanup_automation.yml
  azure-pipelines/local_agent.yml
Due: none

add Script to count succeeded releases
  scripts/Get-ReleaseSuccess.ps1
Due: none

update main.yml - run cleanup.yml only for main and stable branch
  azure-pipelines.yml
  azure-pipelines/stages/main.yml
  docs/workflow/2-azure-pipelines.md
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

add brackets to 2 variable definitions
  scripts/cleanupautomation.ps1
Due: none

Rename switch LocalTest to WhatIf
  scripts/cleanupautomation.ps1
Due: none

build/delete documentation for dev branches
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml
