Repository mauwii/azure-pipelines-with-github-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devopsbuildagent.yml, azure-pipelines/django.yml, azure-pipelines/iac-bicep.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/playground.yml, azure-pipelines/triggers/iac-bicep.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

azure-pipelines/devopsbuildagent.yml:
  stages:
  - stage: build
    jobs:
    - template: stages/jobs/build_devopsbuildagent_job.yml
      parameters:
        matrix: ${{ parameters.matrix }}
        maxParallelJobs: ${{ parameters.maxParallelJobs }}
  - stage: manifest
    dependsOn: build
    jobs:
    - job: null
      condition: succeeded()
  ...

azure-pipelines/django.yml:
  steps:
  - template: stages/jobs/steps/checkout_submodules.yml
    parameters:
      submodule: src/msdocs-python-django-webapp-quickstart
  - ${{ each pythonVersion in parameters.pythonVersions }}:
    - task: UsePythonVersion@0
      displayName: Use Python ${{ pythonVersion }}
      inputs:
  ...

azure-pipelines/iac-bicep.yml:
  extends:
    template: stages/bicep_stage.yml
    parameters:
      bicepDir: ${{ parameters.bicepDir }}
      bicepParameter: ${{ parameters.bicepParameter }}
      resourceGroupName: ${{ parameters.resourceGroupName }}
      azureSubscription: ${{ parameters.azureSubscription }}
  ...

azure-pipelines/mkdocs-material.yml:
  jobs:
  - job: null
    displayName: MkDocs-Material
    pool:
      name: ${{ parameters.agentpool }}
    steps:
    - bash: export
      displayName: debug export
    - template: stages/jobs/steps/checkout_submodules.yml
      parameters:
        submodule: src/mkdocs-material
        checkoutSelf: true
  ...

azure-pipelines/playground.yml:
  pool:
    name: fritz.box
  steps:
  - task: Bash@3
    displayName: Bash Task
    inputs:
      targetType: inline
      script: 'echo "just_a_test was set to ${justatest}"
  
        echo "optional ${optional:+was set to }${optional:-was empty}"
  
        '
    env:
      variableGroupSecret: $(variableGroupSecret)
  ...

azure-pipelines/triggers/iac-bicep.yml:
  pool:
    vmImage: windows-latest
  extends:
    template: ../bicep_stage.yml
    parameters:
      bicepDir: ${{ variables.bicepDir }}
      bicepParameter: ${{ variables.environment }}
      resourceGroupName: ${{ variables.resourceGroupName }}
      azureSubscription: ${{ variables.azureSubscription }}
  ...

azure-pipelines/triggers/validate_docs.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}

azure-pipelines/validate_docs.yml:
  stages:
  - template: stages/mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}
      agentpool: ${{ parameters.agentpool }}

run playground.yml in pool fritz.box
  azure-pipelines/playground.yml
Due: azure-pipelines/playground.yml

fix justatest
  azure-pipelines/playground.yml
Due: azure-pipelines/playground.yml

update .gitmodules
  .gitmodules
Due: none

update .gitmodules (#99)
  .gitmodules
Due: none

update build_devopsbuildagent_job.yml - use `moby/buildkit`
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

remove non working parameters
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

add `--detach` when executing buildkit
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

set TARGETPLATFORM
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

add platform argument
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

update platform parameter
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

set `DOCKER_BUILDKIT=1`
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

fix baseArch parameter for arm64
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

fix baseArch for arm64
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

fix build_devopsbuildagent_job.yml
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

include latest changes for DevOpsBuildAgent (#100)
  azure-pipelines/devopsbuildagent.yml
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

fix broken manifest job
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

fix broken manifest job (#101)
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

Path conditions:
  azure-pipelines/devopsbuildagent.yml: any of: azure-pipelines/devopsbuildagent.yml, azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml, src/DevOpsBuildAgent
  azure-pipelines/django.yml: any of: azure-pipelines/django.yml
  azure-pipelines/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/iac-bicep.yml, azure-pipelines/stages/bicep_stage.yml, azure-pipelines/stages/jobs/steps/bicep_steps.yml, scripts/New-BicepMatrix.ps1
  azure-pipelines/mkdocs-material.yml: any of: docs, mkdocs.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml, scripts/deploy-mike.sh, src/requirements-mkdocs-material.txt, src/mkdocs-material
  azure-pipelines/playground.yml: any of: azure-pipelines/playground.yml
  azure-pipelines/triggers/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/triggers/iac-bicep.yml
  azure-pipelines/triggers/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, azure-pipelines/mkdocs_stage.yml
  azure-pipelines/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/validate_docs.yml, azure-pipelines/stages/mkdocs_stage.yml, azure-pipelines/stages/jobs/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml
