Repository mauwii/azure-pipelines-with-github-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devopsbuildagent.yml, azure-pipelines/django.yml, azure-pipelines/iac-bicep.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/iac-bicep.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

azure-pipelines/devopsbuildagent.yml:
  stages:
  - stage: build
    jobs:
    - template: stages/jobs/build_devopsbuildagent_job.yml
      parameters:
        matrix: ${{ parameters.matrix }}
        maxParallelJobs: ${{ parameters.maxParallelJobs }}
  - stage: manifest
    dependsOn: build
    jobs:
    - job: null
      condition: succeeded()
  ...

azure-pipelines/django.yml:
  steps:
  - template: stages/jobs/steps/checkout_submodules.yml
    parameters:
      submodule: src/msdocs-python-django-webapp-quickstart
  - ${{ each pythonVersion in parameters.pythonVersions }}:
    - task: UsePythonVersion@0
      displayName: Use Python ${{ pythonVersion }}
      inputs:
  ...

azure-pipelines/iac-bicep.yml:
  extends:
    template: stages/bicep_stage.yml
    parameters:
      bicepDir: ${{ parameters.bicepDir }}
      bicepParameter: ${{ parameters.bicepParameter }}
      resourceGroupName: ${{ parameters.resourceGroupName }}
      azureSubscription: ${{ parameters.azureSubscription }}
  ...

azure-pipelines/mkdocs-material.yml:
  jobs:
  - job: null
    displayName: MkDocs-Material
    pool:
      name: ${{ parameters.agentpool }}
    steps:
    - bash: export
      displayName: debug export
    - template: stages/jobs/steps/checkout_submodules.yml
      parameters:
        submodule: src/mkdocs-material
        checkoutSelf: true
  ...

azure-pipelines/triggers/iac-bicep.yml:
  pool:
    vmImage: windows-latest
  extends:
    template: ../bicep_stage.yml
    parameters:
      bicepDir: ${{ variables.bicepDir }}
      bicepParameter: ${{ variables.environment }}
      resourceGroupName: ${{ variables.resourceGroupName }}
      azureSubscription: ${{ variables.azureSubscription }}
  ...

azure-pipelines/triggers/validate_docs.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}

azure-pipelines/validate_docs.yml:
  stages:
  - template: stages/mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}
      agentpool: ${{ parameters.agentpool }}

Fix/cleanupautomation/rbac template (#89)
  IaC/bicep/deploy/rbac-cleanupautomation/main.bicep
Due: azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml

add parameters for ResourceDays
  azure-pipelines/cleanup_automation.yml
  scripts/cleanupautomation.ps1
Due: none

add parameters for ResourceDays (#90)
  azure-pipelines/cleanup_automation.yml
  scripts/cleanupautomation.ps1
Due: none

Update devopsbuildagent.yml for Azure Pipelines
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

Update devopsbuildagent.yml for Azure Pipelines (#91)
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

disable cleanup in main.yml in favor of cleanupautomation
  azure-pipelines/stages/main.yml
Due: none

include json
  .editorconfig
Due: none

change workdirectory
  azure-pipelines/cleanup_automation.yml
Due: none

Feature/cleanupexclution (#92)
  .editorconfig
  azure-pipelines/cleanup_automation.yml
  azure-pipelines/stages/main.yml
Due: none

add cleanupexclution
  scripts/cleanupautomation.ps1
  scripts/cleanupexclution.json
Due: none

add cleanupexclution (#93)
  scripts/cleanupautomation.ps1
  scripts/cleanupexclution.json
Due: none

set always to true for cleanup_automation.yml
  azure-pipelines/cleanup_automation.yml
Due: none

set always to true for cleanup_automation.yml (#94)
  azure-pipelines/cleanup_automation.yml
Due: none

fix ScriptPath
  azure-pipelines/cleanup_automation.yml
Due: none

fix ScriptPath (#95)
  azure-pipelines/cleanup_automation.yml
Due: none

update mkdocs and docs
  docs/workflow/2-azure-pipelines.md
  requirements.txt
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

update mkdocs and docs (#96)
  docs/workflow/2-azure-pipelines.md
  requirements.txt
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

just for testing purpose
  azure-pipelines/playground.yml
Due: none

fix parameter
  azure-pipelines/playground.yml
Due: none

add default value to parameter
  azure-pipelines/playground.yml
Due: none

use env instead of export
  azure-pipelines/playground.yml
Due: none

add variables group
  azure-pipelines/playground.yml
Due: none

add secret variable
  azure-pipelines/playground.yml
Due: none

add another parameter and assign to variable
  azure-pipelines/playground.yml
Due: none

fix variable value
  azure-pipelines/playground.yml
Due: none

add optional parameter
  azure-pipelines/playground.yml
Due: none

set tag DeletionDate to skipped if skipped
  scripts/cleanupautomation.ps1
Due: none

set tag DeletionDate to skipped if skipped (#97)
  scripts/cleanupautomation.ps1
Due: none

fix typo in objectname
  docs/workflow/2-azure-pipelines.md
  scripts/cleanupautomation.ps1
  scripts/cleanupexclusion.json
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

fix typo in objectname (#98)
  docs/workflow/2-azure-pipelines.md
  scripts/cleanupautomation.ps1
  scripts/cleanupexclusion.json
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

Update playground.yml for Azure Pipelines
  azure-pipelines/playground.yml
Due: none

Path conditions:
  azure-pipelines/devopsbuildagent.yml: any of: azure-pipelines/devopsbuildagent.yml, azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml, src/DevOpsBuildAgent
  azure-pipelines/django.yml: any of: azure-pipelines/django.yml
  azure-pipelines/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/iac-bicep.yml, azure-pipelines/stages/bicep_stage.yml, azure-pipelines/stages/jobs/steps/bicep_steps.yml, scripts/New-BicepMatrix.ps1
  azure-pipelines/mkdocs-material.yml: any of: docs, mkdocs.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml, scripts/deploy-mike.sh, src/requirements-mkdocs-material.txt, src/mkdocs-material
  azure-pipelines/triggers/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/triggers/iac-bicep.yml
  azure-pipelines/triggers/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, azure-pipelines/mkdocs_stage.yml
  azure-pipelines/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/validate_docs.yml, azure-pipelines/stages/mkdocs_stage.yml, azure-pipelines/stages/jobs/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml
