Repository mauwii/azure-pipelines-with-github-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devopsbuildagent.yml, azure-pipelines/iac-bicep.yml, azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/iac-bicep.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

Path conditions:
  azure-pipelines/devopsbuildagent.yml: any of: azure-pipelines/devopsbuildagent.yml, azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml, src/DevOpsBuildAgent
  azure-pipelines/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/iac-bicep.yml
  azure-pipelines/mkdocs-material.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml
  azure-pipelines/triggers/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/triggers/iac-bicep.yml
  azure-pipelines/triggers/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, azure-pipelines/mkdocs_stage.yml
  azure-pipelines/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/validate_docs.yml, azure-pipelines/stages/mkdocs_stage.yml, azure-pipelines/stages/jobs/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml

Set default version to get-rid-of-stable-branch with mike 1.1.2
  index.html
Due: none

start to remove references to stable branch
  docs/workflow/1-repository.md
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

set main to the default mkdocs version
  azure-pipelines/mkdocs-material.yml
  mkdocs.yml
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

Removed get-rid-of-stable-branch with mike 1.1.2
  get-rid-of-stable-branch/404.html
  get-rid-of-stable-branch/index.html
  get-rid-of-stable-branch/reference/diagrams/index.html
  get-rid-of-stable-branch/reference/images/index.html
  get-rid-of-stable-branch/reference/index.html
  get-rid-of-stable-branch/todo/index.html
  get-rid-of-stable-branch/workflow/1-repository/index.html
  get-rid-of-stable-branch/workflow/2-azure-pipelines/index.html
  versions.json
Due: none

remove old bloat from default variables
  azure-pipelines/variables/default.yml
Due: none

add `mike set-default main` to mkdocs pipeline
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml

Set default version to main with mike 1.1.2
  index.html
Due: none

update docs
  docs/workflow/1-repository.md
  docs/workflow/2-azure-pipelines.md
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

move mike from inline to file-path script
  azure-pipelines/mkdocs-material.yml
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml

remove old trigger
  azure-pipelines.yml
Due: none

Update/get rid of stable branch (#73)
  azure-pipelines.yml
  azure-pipelines/mkdocs-material.yml
  azure-pipelines/variables/default.yml
  docs/workflow/1-repository.md
  docs/workflow/2-azure-pipelines.md
  mkdocs.yml
  scripts/deploy-mike.sh
Due: azure-pipelines/mkdocs-material.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

Removed main with mike 1.1.2
  main/404.html
  main/index.html
  main/reference/diagrams/index.html
  main/reference/images/index.html
  main/reference/index.html
  main/todo/index.html
  main/workflow/1-repository/index.html
  main/workflow/2-azure-pipelines/index.html
  versions.json
Due: none

add export of script env for debugging
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml

fix branchname for pull requests
  scripts/deploy-mike.sh
Due: none

add quotes
  scripts/deploy-mike.sh
Due: none

add deploy-mike.sh to path trigger also sort the trigger
  azure-pipelines/mkdocs-material.yml
Due: azure-pipelines/mkdocs-material.yml

fix script
  scripts/deploy-mike.sh
Due: none
