Repository mauwii/azure-pipelines-with-github-repo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/devopsbuildagent.yml, azure-pipelines/iac-bicep.yml, azure-pipelines/triggers/iac-bicep.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

azure-pipelines/devopsbuildagent.yml:
  stages:
  - stage: manifest
    jobs:
    - job: null
      condition: succeeded()
      displayName: pushManifest
      steps:
      - task: Docker@2
        displayName: docker login
        inputs:
          containerRegistry: docker-mauwii
          command: login
      - ${{ each value in parameters.matrix }}:
  ...

azure-pipelines/iac-bicep.yml:
  stages:
  - template: stages/bicep_stage.yml
    parameters:
      bicepDir: ${{ variables.bicepDir }}
      bicepParameter: ${{ variables.environment }}
      resourceGroupName: ${{ variables.resourceGroupName }}
      azureSubscription: ${{ variables.azureSubscription }}
  ...

azure-pipelines/triggers/iac-bicep.yml:
  pool:
    vmImage: windows-latest
  extends:
    template: ../bicep_stage.yml
    parameters:
      bicepDir: ${{ variables.bicepDir }}
      bicepParameter: ${{ variables.environment }}
      resourceGroupName: ${{ variables.resourceGroupName }}
      azureSubscription: ${{ variables.azureSubscription }}
  ...

azure-pipelines/triggers/validate_docs.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}

azure-pipelines/validate_docs.yml:
  stages:
  - template: stages/mkdocs_stage.yml
    parameters:
      pythonVersion: ${{ parameters.pythonVersion }}
      mkdocsSiteDir: ${{ parameters.mkdocsSiteDir }}
      mkdocsDeploy: ${{ parameters.mkdocsDeploy }}
      agentpool: ${{ parameters.agentpool }}

try to create manifest
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

fix manifest
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

add devopsbuildagent.yml to docs
  docs/workflow/2-azure-pipelines.md
Due: azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

cleanup
  azure-pipelines/devopsbuildagent.yml
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
Due: azure-pipelines/devopsbuildagent.yml

Update/azure pipelines/devopsbuildagent (#43)
  azure-pipelines/devopsbuildagent.yml
  azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml
  docs/workflow/2-azure-pipelines.md
Due: azure-pipelines/devopsbuildagent.yml, azure-pipelines/triggers/validate_docs.yml, azure-pipelines/validate_docs.yml

Deployed a5f5831 with MkDocs version: 1.3.0
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  workflow/2-azure-pipelines/index.html
Due: none

Deployed a5f5831 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

move manifest job into template
  azure-pipelines/devopsbuildagent.yml
  azure-pipelines/stages/jobs/pushManifest_job.yml
Due: azure-pipelines/devopsbuildagent.yml

fix typo in template path
  azure-pipelines/devopsbuildagent.yml
Due: azure-pipelines/devopsbuildagent.yml

Update/azure pipelines/split devopsbuildagent job to template (#44)
  azure-pipelines/devopsbuildagent.yml
  azure-pipelines/stages/jobs/pushManifest_job.yml
Due: azure-pipelines/devopsbuildagent.yml

Deployed 33cccb6 with MkDocs version: 1.3.0
  search/search_index.json
  sitemap.xml.gz
  workflow/2-azure-pipelines/index.html
Due: none

add cleanup_automation.yml
  azure-pipelines/cleanup_automation.yml
Due: none

remove .key
  azure-pipelines/cleanup_automation.yml
Due: none

fix each loop
  azure-pipelines/cleanup_automation.yml
Due: none

finally fix each loop
  azure-pipelines/cleanup_automation.yml
Due: none

update cleanup_automation inline script
  azure-pipelines/cleanup_automation.yml
Due: none

fix az account set
  azure-pipelines/cleanup_automation.yml
Due: none

Use PowerShell@2 Task and Pipeline Variables
  azure-pipelines/cleanup_automation.yml
Due: none

Update cleanup_automation.yml for Azure Pipelines
  azure-pipelines/cleanup_automation.yml
Due: none

go back to AzurePowerShell but keep pipelinevars
  azure-pipelines/cleanup_automation.yml
Due: none

Fix filepath
  azure-pipelines/cleanup_automation.yml
Due: none

fix script
  scripts/cleanupautomation.ps1
Due: none

fix scriptpath
  azure-pipelines/cleanup_automation.yml
Due: none

Try inline script again
  azure-pipelines/cleanup_automation.yml
Due: none

rename variable
  azure-pipelines/cleanup_automation.yml
Due: none

remove parameter and loop
  azure-pipelines/cleanup_automation.yml
Due: none

use Script File
  azure-pipelines/cleanup_automation.yml
  scripts/cleanupautomation.ps1
Due: none

Add Comments
  scripts/cleanupautomation.ps1
Due: none

remove uneesarry variable
  scripts/cleanupautomation.ps1
Due: none

Add initialDate, check if resource existed before
  scripts/cleanupautomation.ps1
Due: none

Add Tag DeletionDate to Resources
  scripts/cleanupautomation.ps1
Due: none

hide outputs
  scripts/Connect-SP.ps1
Due: none

Add Comments, Remove Outputs
  scripts/cleanupautomation.ps1
Due: none

change method to hide outputs
  scripts/cleanupautomation.ps1
Due: none

Path conditions:
  azure-pipelines/devopsbuildagent.yml: any of: azure-pipelines/devopsbuildagent.yml, azure-pipelines/stages/jobs/build_devopsbuildagent_job.yml, src/DevOpsBuildAgent
  azure-pipelines/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/iac-bicep.yml
  azure-pipelines/triggers/iac-bicep.yml: any of: IaC/bicep/deploy, azure-pipelines/triggers/iac-bicep.yml
  azure-pipelines/triggers/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, azure-pipelines/mkdocs_stage.yml
  azure-pipelines/validate_docs.yml: any of: docs, mkdocs.yml, src/requirements-mkdocs-material.txt, src/mkdocs-material, azure-pipelines/validate_docs.yml, azure-pipelines/stages/mkdocs_stage.yml, azure-pipelines/stages/jobs/mkdocs-material.yml, azure-pipelines/stages/jobs/steps/build_mkdocs.yml
